<% content_for(:title) { "GAP" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ci" data-view="Ci" data-title="Gap-CI" style="background-color:#ff9618"></div>
    </li>
  </ul>
</div>